.list-group-header{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.list-button-container{
    display: flex;
    justify-content: space-between;
}

.list-table-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3px;
}